{{#if answerFormShowing}}
  <div class='ui segment'>
    <div class='ui form'>
      <div class='fields'>
        <div class='eight wide field'>
          <label>Your Name</label>
          {{input value=author}}
        </div>
        <div class='eight wide field'>
          <label>Answer</label>
          {{textarea value=answer rows='3'}}
        </div>
      </div>
      {{#if formError}}
        <div class="ui red message leftAlign">
          <div class="header">
            Error: Empty Field
          </div>
          <ul class="list">
            <li>Please include an answer and try to submit the form again</li>
          </ul>
        </div>
      {{/if}}
      <button {{action 'newAnswer' question}} class='ui labeled icon button green'>
        <i class='comment icon'></i>
        Submit Answer
      </button>
      <button {{action 'resetAnswerForm'}} class='ui button red'>Cancel</button>
    </div>
  </div>
{{else}}
  <button {{action 'showAnswerForm'}} class='ui labeled icon button green'>
    <i class='comment icon'></i>
    Answer Question
  </button>
{{/if}}
