{{#if answerFormShowing}}
  <label>Answer</label>
  {{input value=answer}}
  <label>Author</label>
  {{input value=author}}
  <button {{action 'newAnswer' question}} class='ui button'>Submit Answer</button>
{{else}}
  <button {{action 'showAnswerForm'}} class='ui button'>Answer Question</button>
{{/if}}
