{{#if formShowing}}
  <form class='ui form'>
    <div class='field'>
      <label>Question</label>
      {{input value=question}}
    </div>
    <div class='field'>
      <label>Notes</label>
      {{input value=notes}}
    </div>
    <div class='field'>
      <label>Your Name</label>
      {{input value=author}}
    </div>
    <button {{action 'newQuestion'}} class='ui button'>Submit Question</button>
  </form>
{{else}}
  <button {{action 'showForm'}} class='ui button'>Ask Your Own Question</button>
{{/if}}
