{{#if editShowing}}
  <label>Question</label>
  {{input value=newQuestion placeholder=question.question}}
  <label>Notes</label>
  {{input value=newNotes placeholder=question.notes}}
  <label>Author</label>
  {{input value=newAuthor placeholder=question.author}}
  <button {{action 'editQuestion' question}} class='ui button'>Save Changes</button>
{{else}}
  <button {{action 'showEdit'}} class='ui button'>Edit Question</button>
{{/if}}
