{{#if formShowing}}
  <form class='ui form'>
    <div class='field'>
      <label>Question</label>
      {{textarea value=question rows='3'}}
    </div>
    <div class='field'>
      <label>Notes</label>
      {{textarea value=notes rows='3'}}
    </div>
    <div class='field'>
      <label>Your Name</label>
      {{input value=author}}
    </div>
    <button {{action 'newQuestion'}} class='ui labeled icon button blue'>
      <i class='comment outline icon'></i>
      Submit Question
    </button>
    <button {{action 'resetQuestionForm'}} class='ui button red'>Cancel</button>
  </form>
{{else}}
  <button {{action 'showForm'}} class='ui labeled icon button blue'>
    <i class='comment outline icon'></i>
    Ask Your Own Question
  </button>
{{/if}}
