<div class='ui grid'>
  <div class='four wide column'>
  </div>
  <div class='twelve wide column'>
    {{#if editShowing}}
      <h4 class='ui dividing header'>Update Question</h4>
      <form class='ui form'>
        <div class='field'>
        <label>Question</label>
          {{textarea value=newQuestion placeholder=question.question}}
        </div>
        <div class='field'>
        <label>Notes</label>
          {{textarea value=newNotes placeholder=question.notes rows='3'}}
        </div>
        <div class='field'>
        <label>Author</label>
          {{input value=newAuthor placeholder=question.author}}
        </div>

        {{#if deleteRequested}}
          <div class="ui red message">
            <div class="header">
              Are you sure you want to delete this question?
            </div>
            <ul class="list">
              <button {{action 'deleteQuestion' question}} class='ui button red'>Delete</button>
              <button {{action 'cancelDelete'}} class='ui button blue'>Cancel</button>
            </ul>
          </div>
        {{else}}
          <button {{action 'editQuestion' question}} class='ui labeled icon button blue'>
            <i class='comment outline icon'></i>
            Save Changes
          </button>
          <button {{action 'requestDelete'}} class='ui labeled icon button red'>
            <i class='trash icon'></i>
            Delete Question
          </button>
        {{/if}}

      </form>
    {{else}}
      <button {{action 'showEdit'}} class='ui labeled icon button blue'>
        <i class='comment outline icon'></i>
        Edit Question
      </button>
    {{/if}}
  </div>
</div>
