<div class='ui grid'>
  <div class='four wide column giantQuestionIcon'>
    <i class='comment outline icon massive blue'></i>
    <br><br>
  </div>
  <div class='twelve wide column'>
    <p class='questionQuestion'>
      {{question.question}}
    </p>
    <div class='questionAuthor'>
      {{question.author}}
    </div>
    <div class='questionNotes'>
      {{question.notes}}
    </div>
    <div class='questionTimestamp'>
      {{timestamp question.timestamp}}
      <div class='favorites'>
        {{#if isFavorite}}
        <i {{action 'favoriteQuestion' question}} class='star icon big yellow'></i>
        {{else}}
        <i {{action 'favoriteQuestion' question}} class='star empty icon big yellow'></i>
        {{/if}}
      </div>
    </div>
  </div>
</div>
