<div class='ui grid'>
  <div class='four wide column'>
  </div>
  <div class='twelve wide column'>
    {{#if editShowing}}
      <h4 class='ui dividing header'>Update Question</h4>
      <form class='ui form'>
        <div class='field'>
        <label>Question</label>
          {{textarea value=newQuestion placeholder=question.question}}
        </div>
        <div class='field'>
        <label>Notes</label>
          {{textarea value=newNotes placeholder=question.notes rows='3'}}
        </div>
        <div class='field'>
        <label>Author</label>
          {{input value=newAuthor placeholder=question.author}}
        </div>
        <button {{action 'editQuestion' question}} class='ui button'>Save Changes</button>
      </form>
    {{else}}
      <button {{action 'showEdit'}} class='ui button'>Edit Question</button>
    {{/if}}
  </div>
</div>
